@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Primary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --Light slate blue: hsl(252, 100%, 67%); /*background*/
    --Light royal blue: hsl(241, 81%, 54%); /*background*/
    --Violet blue : hsla(256, 72%, 46%, 1); /*circle*/
    --Persian blue : hsla(241, 72%, 46%, 0); /*circle*/

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken+Grotesk', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: minmax(auto, 425px);
    background: var(--White);
}

main .result {
   color: var(--Light-lavender);
   background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   display: grid;
   text-align: center;
   padding: 1.5rem 3rem 3rem;
   -webkit-border-radius: 0 0 1.5rem 1.5rem;
    -moz-border-radius: 0 0 1.5rem 1.5rem;
    -ms-border-radius: 0 0 1.5rem 1.5rem;
    -o-border-radius: 0 0 1.5rem 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}